@tailwind base;
@tailwind components;
@tailwind utilities;

body::before {
  content: "" !important;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(rgba(0, 149, 204, 0.08) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 149, 204, 0.08) 1px, transparent 1px);
  background-size: 20px 20px;
  pointer-events: none;
  z-index: -1;
}
